:root{
    --main-bg-color:#eff5fe;
    --border-color: #0288d147;
    --container-width: 500px;
}
.body,html{
    font-family: system-ui;
    background: var(--main-bg-color);
    height: 100%;
    padding:0;
    margin:0; 
}

body,.drop-zone, .upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-container{
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 20px 20px #0000002e;
}
.drop-zone{
    width: var(--container-width);
    min-height: 200px;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 10px;
    transition: all .2s ease;
}

.dragged.drop-zone{
    background-color: var(--main-bg-color);
    border-color:#2196f3;
}

.icon-container{
    height: 100px;
    width:75px;
position: relative;
}

.icon-container img{
width: 75px;
position: absolute;
transition: transform 250ms ease-in-out;
}

.icon-container .center{
    z-index:2;
}

.icon-container .right, .icon-container .left{
   filter: grayscale(.5);
   transform: scale(.9); 
}

.dragged .icon-container .right{
    transform: rotate(10deg) translateX(20px) scale(.9);
    transform-origin: bottom;
}

.dragged .icon-container .left{
    transform: rotate(-10deg) translateX(-20px) scale(.9);
    transform-origin:bottom;
}

.dragged .icon-container .center{
    transform:  translateY(-5px);
}

#fileInput{
    display: none;
}

.browseBtn{
    color: #2196f3;
    cursor: pointer;
}

.progress-container{
width: var(--container-width);
height: 70px;
border: 2px solid var(--main-bg-color);
margin-bottom: 25px;
border-radius: 10px;
position: relative;
display: none;
}

.progress-container .bg-progress{
    background: var(--main-bg-color);
    width: 0%;
    height: 100%;
    transform-origin: left;
   transition: width .25s linear;
   position: absolute;
}

.progress-container .inner-container{
position: absolute;
z-index: 1;
margin: 10px 15px;
width: calc(100% - 30px);
}

.percent-container{
    font-size: 13px;
    margin: 5px;
    opacity: .8;
    
}

.progress-bar{
 height: 3px;
 width: 100%;
 background: #03a9f4;
border-radius: 2px;
transform-origin: left;
transform: scaleX(0);
transition: width .25s linear;
}